body {
    background-color:#B08BBB;
    font-family: Arial;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"], input[type="password"] {
    width: 80%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #181918;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
input[type="submit"]:hover {
    background-color: #393a39;
}