/* reset code and common starts here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --padding: 1rem;
}
/* reset code and common ends here */

html {
  scroll-behavior: smooth;
}
/* container starts here */

.container {
  display: grid;
  grid-template-areas:
    "m"
    "o"
    "t"
    "f";
}

/* container ends here */

/* header starts here */
.header > .header__left {
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(204, 189, 170);
  box-shadow: 0px 0px 15px 0px rgba(15, 15, 15, 0.9);
  grid-area: h;
  z-index: 10;
  position: fixed;
  width: 100%;
}

header .header__right {
  padding: var(--padding);
}

/* header ends here */

/* main starts here */

main {
  grid-area: m;
  height: 100vh;
}

main {
  height: 100vh;
  color: white;
  background-image: url(./images/fashion.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner {
  position: relative;
  top: 15rem;
  color: rgba(0, 0, 0);
  padding: var(--padding);
  background-color: rgba(240, 248, 255, 0.5);
  width: 450px;
}

.banner > p {
  margin-top: 20px;
}

/* main starts here */

/* section-one starts here */

.products-one > h2 {
  text-align: center;
  padding-top: 2rem;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: aliceblue;
  grid-area: o;
  height: 100vh;
}

/* section-one ends here */

/* section-two starts here */

.products-two > h2 {
  background-color: yellow;
  color: black;
  grid-area: t;
}

/* section-two ends here */

/* footer starts here */

footer {
  background-color: green;
  grid-area: f;
}

/* footer ends here */
