:root {
    --font-family-cursive: 'Amatic SC', arial;
    --nav-color: #293241;
    --font-family-main: 'Roboto Mono', monospace;
    --background-color-1: #393c43d7;
    --font-color-dark: #1a1f2a;
}


body {
    margin: 0;
    width: 100%;
}


* {
    text-decoration: none;
    font-size: 62.5%;
}

/* nav bar start */

.nav-bar {
    font-family: var(--font-family-cursive);
    font-size: 8rem;
    font-weight: bolder;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /*position: sticky;*/

    margin: 0;  
    padding: 2vh 0;
    box-sizing: border-box;

    background-color: var(--nav-color); 
    box-shadow: inset -1px -1px 10px 1px rgba(115, 106, 92, 0.431);
}

.nav__link {
    list-style: none;
    
}

.nav__link a {
    text-decoration: none;
    color: antiquewhite;
}

.nav__link:hover {
    text-decoration: underline;
    text-shadow: 0.05rem 0.05rem rgb(255, 255, 255);
}

.cart__icon {
    color: antiquewhite;
    padding-left: 1rem;
    font-size: 2.5rem;
}

/* nav bar end */

/* header start */

.header {
    background-image: url(./images/shop-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    

    display: flex;
    justify-content: center;
    
}

.header__title {
    box-sizing: border-box;
    margin: 0;
    
    color: antiquewhite;

    font-family: var(--font-family-cursive);
    font-size: 9rem;

    padding: 0 5rem 0 7rem;

    max-width: 100rem;
    height: min-content;

    background-color: #293241e9;

    /* box-shadow: 0.1rem 0.1rem rgb(106, 99, 91); */
    text-align: center;

    /*text-decoration: underline;
    text-decoration-thickness: 0.4rem;*/
}

.header__logo {
    font-size: 8rem;
    padding: 0rem 3rem 0rem 5rem;
}


/* header end */


/* about start */

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    font-family: var(--font-family-main);

    color: #293241;;

    height: min-content;

}

.about__title {
    font-size: 3.5rem;
    width: 20vw;
    
    text-decoration: underline;
    text-underline-offset: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2vw;
    color: antiquewhite;
}

.about-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    height: min-content;
    background-color: var(--nav-color); 
}

.about__img {
    max-width: 30vw;
    height: 100%;
    float: right;
    object-fit: contain;
}

.about__para {
    width: 60vw;
    max-height: min-content;
    text-align: left;
    color: antiquewhite;
    font-size: 1.7rem;
    padding-left: 2vw;
    padding-bottom: 3rem;
    margin-top: 0;
}

.about__para a {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.3rem;
    color: antiquewhite;
    font-weight: bold;
    font-size: 1.7rem;
}
/* about end */



/* Shop Start */

.shop {
    text-align: center;
    background-color: var();
    padding-bottom: 2rem;
    background-color: #8e9db9;
}

.shop__title {
    font-family: var(--font-family-main);
    font-size: 7rem;
    /* text-transform: uppercase; */
    margin-top: 0;
    text-decoration: underline;
    text-underline-offset: 2rem
}

.shop__title a {
    color: var(--font-color-dark);
}

.shop__layout {
    width: 80vw;
    height: 60vh;
    overflow-x: scroll;
}

.shop__layout::-webkit-scrollbar {
    height: 1.5rem;
}

.shop__layout::-webkit-scrollbar-button:single-button {
    background-color: var(--nav-color);
    display: block;
    border-style: solid 0.5rem var(--background-color-1);
}

.shop__layout::-webkit-scrollbar-track {
    background: rgb(181, 181, 181);
}

.shop__layout::-webkit-scrollbar-thumb {
    background: var(--font-color-dark); 
    background-clip: padding-box;
}

.shop-flex {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.item__box {
    object-fit: contain;
    height: 50vh;
    width: 30rem;
    display: inline-block;
    padding: 0 5rem;
}


.item__box:hover {
    box-shadow: 10rem var(--font-color-dark);
}

.shop__art {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 0.2rem solid var(--font-color-dark);
}

.grid__art > .full {
    grid-column: 1 / -1;
}

.artist__name {
    font-family: var(--font-family-main);
    font-size: 2rem;
    padding-bottom: 1rem;
}
/* Shop End */


/* Footer start */
.footer-test {
    width: 100%;
    background-color: #1a1f2a;
    padding-top: 5rem;
}

.footer {
    font-family: var(--font-family-cursive);
    font-size: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: antiquewhite;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    width: 80%;
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 10rem;
    font-weight: bolder;
}

.footer__list a {
    color: antiquewhite;
}

.footer__list a:hover {
    font-weight: bolder;
    color: #5b6d92;
    text-decoration: underline;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
}

.icon {
    padding-right: 3rem;
    padding-bottom: 1rem;
    font-size: 2.5rem;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}

.footer-social a {
    font-size: 6rem;
    color: antiquewhite;
}

.footer-social a:hover {
    font-weight: bolder;
    color: #5b6d92;
}
/* Footer end */


/* SCALING */



/* Large */

@media only screen and (min-width: 992px) {
    
    .header {
        transition: ease-in-out 0.5s;
    }

    .header__title {
        transition: ease-in-out 0.5s;
    }
    
    .header__logo {
        font-size: 5vw;
    }

    /* ABOUT */
    .about-grid {
        width: 100%;
        max-height: 30vh;
        position: relative;
    }
    
    .about__img {
        box-sizing: border-box;
        /* border: 1rem solid red; */
        width: 50vw;
        height: 100%;
        
        object-fit: cover;
        position: absolute;
        right: 0;
    }

    .about__title {
        font-size: 2vw;
    }

    .about__para {
        font-size: 1vw;
    }

    .about__para a {
        font-size: 1vw;
    }

    /* ABOUT END*/
    
}

@media only screen and (min-width: 769px) and (max-width: 991px){
    
    /* NAV */
    .nav__link {
        font-size: 5vw;
        transition: ease-in-out 0.3s;
    }

    /* NAV END*/
    
    
    /* HEADER */
    
    .header {
        transition: ease-in-out 0.5s;
    }

    .header__title {
        font-size: 5vw;
        transition: ease-in-out 0.3s;
    }
    
    .header__logo {
        font-size: 5vw;
    }
    
    /* HEADER END*/
    
    
    
    
    
    .about-grid {
        width: 100%;
        max-height: 30vh;
        position: relative;
    }
    
    .about__img {
        box-sizing: border-box;
        /* border: 1rem solid blue; */
        width: 50vw;
        height: 100%;
        
        object-fit: cover;
        position: absolute;
        right: 0;
    }


    .about__title {
        font-size: 2vw;
    }

    .about__para {
        font-size: 1vw;
    }

    .about__para a {
        font-size: 1vw;
    }


    /* FOOTER */

    .footer {
        margin-top: 0;
    }

    .footer-grid {
        width: 100vw;
        align-content: center;
        justify-content: space-evenly;
    }

    .footer__list-items{
        font-size: 4vw;
    }

    .contact-info h4 {
        font-size: 3vw;
    }

    .contact-info p{
        text-align: center;
    }

    .footer-social {
        display: flex;
        flex-direction: column;
        gap: 0.1vh;
    }

    .social__icon {
        font-size: 4vw;
    }
    /*FOOTER END */

}


 /* Medium, i.e. landscape tablets */
@media only screen and (max-width: 768px) {
    
     /* NAV */
     .nav__link {
        font-size: 5vw;
        transition: ease-in-out 0.3s;
    }

    /* NAV END*/
    
    
    /* HEADER */
    
    .header {
        max-height: 20vh;
        transition: ease-in-out 0.3s;
    }

    .header__title {
        font-size: 5vw;
        transition: ease-in-out 0.3s;
    }
    
    .header__logo {
        font-size: 5vw;
    }
    
    /* HEADER END*/
    
    
    
    /* ABOUT */
    
    .about-grid {
        width: 100%;
        max-height: 30vh;
        position: relative;
    }
    
    .about__img {
        box-sizing: border-box;
        /* border: 1rem solid green; */
        width: 50vw;
        height: 100%;
        
        object-fit: cover;
        position: absolute;
        right: 0;
    }

    .about__title {
        font-size: 2vw;
    }

    .about__para {
        font-size: 1vw;
    }

    .about__para a {
        font-size: 1vw;
    }
    /* ABOUT END*/


    /* FOOTER */

    .footer {
        margin-top: 0;
    }

    .footer-grid {
        width: 100vw;
        align-content: center;
        justify-content: space-evenly;
    }

    .footer__list-items{
        font-size: 4vw;
    }

    .contact-info h4 {
        font-size: 3vw;
    }

    .contact-info p{
        text-align: center;
    }

    .footer-social {
        display: flex;
        flex-direction: column;
        gap: 0.1vh;
    }

    .social__icon {
        font-size: 4vw;
    }
    /*FOOTER END */



  }



/*Small */

@media only screen and (max-width: 600px) {

     /* NAV */
     .nav__link {
        font-size: 5vw;
        transition: ease-in-out 0.3s;
    }

    /* NAV END*/
    
    
    /* HEADER */
    
    .header__title {
        font-size: 5vw;
        transition: ease-in-out 0.3s;
    }
    
    
    /* HEADER END*/

    /* ABOUT */
    .about-grid {
        width: 100%;
        max-height: 30vh;
        position: relative;
    }
    
    .about__img {
        box-sizing: border-box;
        /* border: 1rem solid pink; */
        width: 50vw;
        height: 100%;
        
        object-fit: cover;
        position: absolute;
        right: 0;
    }

    .about__title {
        font-size: 2vw;
    }

    .about__para {
        font-size: 1vw;
    }

    .about__para a {
        font-size: 1vw;
    }
    /* ABOUT END*/


    /* FOOTER */

    .footer {
        margin-top: 0;
    }

    .footer-grid {
        width: 100vw;
        align-content: center;
        justify-content: space-evenly;
    }

    .footer__list-items{
        font-size: 4vw;
    }

    .contact-info h4 {
        font-size: 3vw;
    }

    .contact-info p{
        text-align: center;
    }

    .footer-social {
        display: flex;
        flex-direction: column;
        gap: 0.1vh;
    }

    .social__icon {
        font-size: 4vw;
    }
    /*FOOTER END */
  }