:root {
  --padding: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.card {
  box-shadow: 0 7px 10px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 30%;
}
.card:hover {
  box-shadow: 0 14px 20px 0 rgba(20, 42, 167, 0.9);
}


/* nav starts here */
nav {
  background-color: #579BB1;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}


.navbar__icon {
  font-size: 5rem;
  margin-right:3rem ;
  
}
.navbar__lists {
  display: flex;
  font-size: 2rem;
  text-transform: uppercase;
}
 ul {
    display: flex;
    

}
li {
  padding: var(--padding);
  cursor: pointer;
}
nav li:hover {
  transform: scale(1.1);
}

.navbar__list1 {
    display: flex;
  
  float: right;
  font-size: 2rem;
  
}
a {
  color: black;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

/* nav end here */

/* header starts here */
#header {
  height: 100vh;
}
.header__div {
  min-height: 100%;
  background-image: url(img/foot.jpg);
  background-position: center;
  background-size: cover;
  padding: var(--padding);
  
  
}

.header__tittle {
  color: rgb(4, 94, 211);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* header end here */

/* main starts here */
main {
  background-color: #5bc0f8;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(img/sneckars.jpg);
  background-position: center;
  background-size: cover;
}


.main__products {
  display: flex;
  gap: 40rem;
}

 img {
  max-width: 400px;
  max-height: auto;
}
.main__description {
  color:whitesmoke;
  text-align:justify;
}
.main__btn {
  height: 50px;
  width: 100px;
  margin-top: 1rem;
  background-color: rgb(173, 153, 153);
  border: none;
  text-transform: uppercase;
  border-radius: 1.5rem;
  
}
.main__btn:hover {
  color: #044c74;
  background-color: #86e5ff;
}

/* main end here */

/* footer starts here */
footer {
  background-color: #86e5ff;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__tittle {
  color: rgb(52, 82, 95);
  font-size: 30px;

}

 input {
  margin-top: 3rem;
  background-color: transparent;
  border-radius: 50px;
  height: 40px;
  width: 300px;
  box-shadow: 0 10px 12px 0 rgba(20, 42, 167, 0.9);
  
  
}
input:hover {
  box-shadow: 0 14px 20px 0 rgba(155, 161, 247, 0.9);

}
.footer__btn {
  height: 50px;
  width: 100px;
  margin-top: 1rem;
  background-color: rgb(173, 153, 153);
  border: none;
  text-transform: uppercase;
  border-radius: 1.5rem;
}
.footer__btn:hover {
  transform: scale(1.1);
}

.footer__icon a {
  font-size: 4rem;
  color: rgb(66, 8, 8);
  animation-name: anim-icon;
  animation-duration: 2s;
  animation-iteration-count: infinite ;
  
} 
@keyframes anim-icon {
  from{
    color: black;
  }
  to{
    color: rgb(124, 55, 55);
  }
  
}
.footer__list {
  display: flex;
  text-transform: uppercase;
  color: rgb(52, 82, 95);
  font-size: 1rem;
}


/* footer end here */
