:root {
  --font-family-cursive: "Amatic SC", arial;
  --nav-color: #293241;
  --font-family-main: "Roboto Mono", monospace;
  --background-color-1: #393c43d7;
  --font-color-dark: #1a1f2a;
  --cart-width: 10rem;
}

body {
  margin: 0;
  background-color: antiquewhite;
}

* {
  text-decoration: none;
  font-size: 62.5%;
}

/* nav bar start */

.nav-bar {
  font-family: var(--font-family-cursive);
  font-size: 8rem;
  font-weight: bolder;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 0;
  padding: 2vh 0;
  box-sizing: border-box;

  background-color: var(--nav-color);
  box-shadow: inset -1px -1px 10px 1px rgba(115, 106, 92, 0.431);
}

.nav__link {
  list-style: none;
}

.nav__link a {
  text-decoration: none;
  color: antiquewhite;
}

.nav__link:hover {
  text-decoration: underline;
  text-shadow: 0.05rem 0.05rem rgb(255, 255, 255);
}

.cart__icon {
  color: antiquewhite;
  padding-left: 1rem;
  font-size: 2.5vw;
}

/* nav bar end */

/* Cart Table Start */

.cart {
  margin: 0;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: var(--font-family-main);
}

.cart-items {
  margin: auto;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__item-name {
  font-size: 3rem;
}

.cart__img {
  width: 15%;
  text-align: center;
}

.img__det {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.counter {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #8a8f9f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: var(--font-family-main);
  font-weight: 900;
  color: var(--font-color-dark);
  cursor: pointer;
}

.count {
  font-size: 20px;
  font-family: var(--font-family-main);
  font-weight: 900;
  color: var(--font-color-dark);
}

.prices {
  font-size: 5rem;
  height: 100%;
  text-align: right;
}
.amount {
  padding-top: 20px;
  font-size: 26px;
  font-family: var(--font-family-main);
  font-weight: 800;
  color: var(--font-color-dark);
}

.checkout {
  float: right;
  margin-right: 5%;
  width: 28%;
}

.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.subtotal {
  font-size: 3rem;
  font-family: var(--font-family-main);
  font-weight: 700;
  color: var(--font-color-dark);
}
.items {
  font-size: 3rem;
  font-family: var(--font-family-main);
  font-weight: 500;
  color: #4e4e4e;
  line-height: 3rem;
}
.total-amount {
  font-size: 3rem;
  font-family: var(--font-family-main);
  font-weight: 900;
  color: var(--font-color-dark);
}
.checkout__button {
  margin-top: 1rem;
  width: 50%;
  height: 4rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 2rem;
  font-family: var(--font-family-main);
  font-weight: 600;
  color: antiquewhite;
  background-color: var(--font-color-dark);
}

.about {
  height: 100%;
}

.bluebirds__name {
  padding-top: 5px;
  line-height: 10px;
  font-size: 32px;
  font-family: ‘Open Sans’;
  font-weight: 800;
  color: #202020;
}

.size {
  line-height: 10px;
  font-size: 2rem;
  font-family: var(--font-family-main);
  font-weight: 600;
  color: #4e4e4e;
}

.cart-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
/* 
.cart-title {
  text-align: center;
  font-size: 7rem;
  
} */

.cart-title h2 {
  padding-bottom: 1rem;
  margin-bottom: 0rem;
}

.cart-title h4 {
  font-size: 5rem;
  color: var(--font-color-dark);
  border-bottom: 1rem solid var(--font-color-dark);
}

.cart-title h4:hover {
  transform: skewX(-5deg) scale(1.1);
}

.cart__icon-anim {
  color: var(--font-color-dark);
  margin-top: 10rem;
  font-size: var(--cart-width);
  text-align: left;

  position: relative;

  animation-name: cart-anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes cart-anim {
  0% {
    left: calc((48vw - var(--cart-width) / 2) * -1);
    transform: scaleX(1) rotate(0deg);
  }
  45% {
    left: calc((48vw - var(--cart-width) / 2));
    transform: scalex(1) rotate(0deg);
  }
  50% {
    left: calc((48vw - var(--cart-width) / 2));
    transform: scaleX(-1) rotate(0deg);
  }
  95% {
    left: calc((48vw - var(--cart-width) / 2) * -1);
    transform: scaleX(-1) rotate(0deg);
  }
  100% {
    left: calc((48vw - var(--cart-width) / 2) * -1);
    transform: scaleX(1) rotate(0deg);
  }
}

/* Cart Table End */

/* Footer start */
.footer-test {
  width: 100%;
  background-color: #1a1f2a;
  padding-top: 5rem;
}

.footer {
  font-family: var(--font-family-cursive);
  font-size: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: antiquewhite;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;

  width: 80%;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 10rem;
  font-weight: bolder;
}

.footer__list a {
  color: antiquewhite;
}

.footer__list a:hover {
  font-weight: bolder;
  color: #5b6d92;
  text-decoration: underline;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
}

.icon {
  padding-right: 3rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.footer-social a {
  font-size: 6rem;
  color: antiquewhite;
}

.footer-social a:hover {
  font-weight: bolder;
  color: #5b6d92;
}
/* Footer end */

/* SCALING */

/* Large */

@media only screen and (min-width: 992px) {
  /* .img__det {
    border: 1rem solid red;
  } */
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  /* CART CONTAINER START*/
  .cart-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .cart__img {
    width: 50vw;
  }

  .img__det {
    /* border: 1rem solid blue; */
    width: 40vw;
  }

  .cart__item-name {
    font-size: 4vw;
    text-align: center;
  }

  .size {
    font-size: 3vw;
  }

  .checkout {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subtotal {
    text-align: center;
    font-size: 4vw;
  }

  .items {
    text-align: center;
    font-size: 3vw;
  }

  .total-amount {
    font-size: 5vw;
  }

  .remove {
    text-align: center;
    font-size: 5vw;
    padding-bottom: 3vh;
  }

  .checkout__button {
    font-size: 3vw;
    width: min-content;
    padding: 0 2vw;
  }

  .cart-title h4 {
    font-size: 5vw;
  }
  /* CART CONTAINER END*/
  /* NAV */
  .nav__link {
    font-size: 5vw;
    transition: ease-in-out 0.3s;
  }

  /* NAV END*/

  /* FOOTER */

  .footer {
    margin-top: 0;
  }

  .footer-grid {
    width: 100vw;
    align-content: center;
    justify-content: space-evenly;
  }

  .footer__list-items {
    font-size: 4vw;
  }

  .contact-info h4 {
    font-size: 3vw;
  }

  .contact-info p {
    text-align: center;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    gap: 0.1vh;
  }

  .social__icon {
    font-size: 4vw;
  }
  /*FOOTER END */
}

/* Medium, i.e. landscape tablets */
@media only screen and (max-width: 768px) {
  /* CART CONTAINER START*/
  .cart-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .cart__img {
    width: 50vw;
  }

  .img__det {
    /* border: 1rem solid green; */
    width: 40vw;
  }

  .cart__item-name {
    font-size: 4vw;
    text-align: center;
  }

  .size {
    font-size: 3vw;
  }

  .checkout {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subtotal {
    text-align: center;
    font-size: 4vw;
  }

  .items {
    text-align: center;
    font-size: 3vw;
  }

  .total-amount {
    font-size: 5vw;
  }

  .remove {
    text-align: center;
    font-size: 5vw;
    padding-bottom: 3vh;
  }

  .checkout__button {
    font-size: 3vw;
    width: min-content;
    padding: 0 2vw;
  }

  .cart-title h4 {
    font-size: 5vw;
  }
  /* CART CONTAINER END*/

  /* NAV */
  .nav__link {
    font-size: 5vw;
    transition: opacity ease-in-out 0.3s;
  }

  /* NAV END*/

  /* FOOTER */

  .footer {
    margin-top: 0;
  }

  .footer-grid {
    width: 100vw;
    align-content: center;
    justify-content: space-evenly;
  }

  .footer__list-items {
    font-size: 4vw;
  }

  .contact-info h4 {
    font-size: 3vw;
  }

  .contact-info p {
    text-align: center;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    gap: 0.1vh;
  }

  .social__icon {
    font-size: 4vw;
  }
  /*FOOTER END */
}

/*Small */

@media only screen and (max-width: 600px) {
  /* CART CONTAINER START*/
  .cart-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .cart__img {
    width: 50vw;
  }

  .img__det {
    /* border: 1rem solid pink; */
    width: 40vw;
  }

  .cart__item-name {
    font-size: 4vw;
    text-align: center;
  }

  .size {
    font-size: 3vw;
  }

  .checkout {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subtotal {
    text-align: center;
    font-size: 4vw;
  }

  .items {
    text-align: center;
    font-size: 3vw;
  }

  .total-amount {
    font-size: 5vw;
  }

  .remove {
    text-align: center;
    font-size: 5vw;
    padding-bottom: 3vh;
  }

  .checkout__button {
    font-size: 3vw;
    width: min-content;
    padding: 0 2vw;
  }

  .cart-title h4 {
    font-size: 5vw;
  }
  /* CART CONTAINER END*/

  /* NAV */
  .nav__link {
    font-size: 5vw;
    transition: opacity ease-in-out 0.3s;
  }

  /* NAV END*/

  /* FOOTER */

  .footer {
    margin-top: 0;
  }

  .footer-grid {
    width: 100vw;
    align-content: center;
    justify-content: space-evenly;
  }

  .footer__list-items {
    font-size: 3vw;
  }

  .footer__list li a {
    font-size: 8vw;
  }

  .contact-info h4 {
    font-size: 2vw;
  }

  .contact-info p {
    text-align: center;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    gap: 0.1vh;
  }

  .social__icon {
    font-size: 4vw;
  }
  /*FOOTER END */
}
