:root {
    --font-family-cursive: 'Amatic SC', arial;
    --nav-color: #293241;
    --font-family-main: 'Roboto Mono', monospace;
    --background-color-1: #393c43d7;
    --font-color-dark: #1a1f2a;
}


body {
    margin: 0;
    background-color: #c490598a;
}


* {
    text-decoration: none;
    font-size: 62.5%;
}



/* nav bar start */

.nav-bar {
    font-family: var(--font-family-cursive);
    font-size: 8rem;
    font-weight: bolder;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 0;  
    padding: 2vh 0;
    box-sizing: border-box;

    background-color: var(--nav-color); 
    box-shadow: inset -1px -1px 10px 1px rgba(115, 106, 92, 0.431);
}

.nav__link {
    list-style: none;
    
}

.nav__link a {
    text-decoration: none;
    color: antiquewhite;
}

.nav__link:hover {
    text-decoration: underline;
    text-shadow: 0.05rem 0.05rem rgb(255, 255, 255);
}

.cart__icon {
    color: antiquewhite;
    padding-left: 1rem;
    font-size: 2.3rem;
}
/* nav bar end */


/* Product Start */

.product-grid {
    display: grid;
    grid-template-areas: 
    "p p d d" 
    "r r r r";
    gap: 5rem;
}


.product {
    grid-area: p;
    font-family: var(--font-family-main);
    padding-left: 5rem;
}

.product__details {
    grid-area: d;
    padding: 15rem 10rem;
    font-family: var(--font-family-main);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__info {
    font-size: 4rem;
    align-self: flex-start;
}

.product__desc {
    font-size: 2rem;
    margin-bottom: 8rem;
}

.price {
    font-size: 3rem;
    transform: skewX(-10deg);
    align-self: flex-start;

    padding-left: 1rem;
    margin-bottom: 5rem;
}

.recommended {
    grid-area: r;
}


.product h1 {
    font-size: 5rem;
    color: #1a1f2a;
    margin-bottom: 0;
}

.product h2 {
    font-size: 3rem;
    color: #293241;
    text-align: center;
}

.product__image {
    width: 28vw;
    height: 80vh;
}

.cart__btn {
    align-self: flex-start;
    height: 7rem;
    width: 17rem;

    background-color: var(--font-color-dark);

    border-radius: 2rem;
    
}

.cart__dir {
    font-family: var(--font-family-main);
    font-size: 2rem;

    color: antiquewhite;
}

.bluebirds {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Product End */



/* Shop Start */

.shop {
    text-align: center;
    background-color: #c490598a;
}

.shop__title {
    font-family: var(--font-family-main);
    font-size: 7rem;
    /* text-transform: uppercase; */
    margin-top: 0;
}

.shop__title a {
    color: #293241;
}

.shop__layout {
    width: 80vw;
    height: 60vh;
    overflow-x: scroll;
}

.shop-flex {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.item__box {
    object-fit: contain;
    height: 50vh;
    width: 30rem;
    display: inline-block;
    padding: 0 5rem;
}

.shop__art {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 0.2rem solid var(--font-color-dark);
}

.grid__art > .full {
    grid-column: 1 / -1;
}

.artist__name {
    font-family: var(--font-family-main);
    font-size: 2rem;
    padding-bottom: 1rem;
}
/* Shop End */