:root {
  --font-family-cursive: "Amatic SC", arial;
  --nav-color: #293241;
  --font-family-main: "Roboto Mono", monospace;
  --background-color-1: #393c43d7;
  --font-color-dark: #1a1f2a;
}

body {
  margin: 0;
  background-color: #c490598a;
}

* {
  text-decoration: none;
  font-size: 62.5%;
}

/* nav bar start */

.nav-bar {
  font-family: var(--font-family-cursive);
  font-size: 8rem;
  font-weight: bolder;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin: 0;
  padding: 2vh 0;
  box-sizing: border-box;

  background-color: var(--nav-color);
  box-shadow: inset -1px -1px 10px 1px rgba(115, 106, 92, 0.431);
}

.nav__link {
  list-style: none;
}

.nav__link a {
  text-decoration: none;
  color: antiquewhite;
}

.nav__link:hover {
  text-decoration: underline;
  text-shadow: 0.05rem 0.05rem rgb(255, 255, 255);
}

.cart__icon {
  color: antiquewhite;
  padding-left: 1rem;
  font-size: 2.3rem;
}
/* nav bar end */

/* Product Start */

.product-grid {
  display: grid;
  grid-template-areas:
    "p p d d"
    "r r r r";
  gap: 5rem;
}

.product {
  grid-area: p;
  font-family: var(--font-family-main);
  padding-left: 5rem;
}

.product__details {
  grid-area: d;
  padding: 15rem 10rem;
  font-family: var(--font-family-main);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__info {
  font-size: 4rem;
  align-self: flex-start;
}

.product__desc {
  font-size: 2rem;
  margin-bottom: 8rem;
}

.price {
  font-size: 3rem;
  transform: skewX(-10deg);
  align-self: flex-start;

  padding-left: 1rem;
  margin-bottom: 5rem;
}

.recommended {
  grid-area: r;
}

.product h1 {
  font-size: 5rem;
  color: #1a1f2a;
  margin-bottom: 0;
}

.product h2 {
  font-size: 3rem;
  color: #293241;
  text-align: center;
}

.product__image {
  width: 28vw;
  height: 80vh;
}

.cart__btn {
  align-self: flex-start;
  height: 7rem;
  width: 17rem;

  background-color: var(--font-color-dark);

  border-radius: 2rem;
}

.cart__dir {
  font-family: var(--font-family-main);
  font-size: 2rem;

  color: antiquewhite;
}

.product-image__image {
  width: 100%;
  /* height: 100%; */
  aspect-ratio: initial;
  object-fit: cover;
}
/*Product End */

/* Shop Start */

.shop {
  text-align: center;
  background-color: #c490598a;
  padding-bottom: 10rem;
}

.shop__title {
  font-family: var(--font-family-main);
  font-size: 7rem;
  /* text-transform: uppercase; */
  margin-top: 0;
}

.shop__title a {
  color: #293241;
}

.shop__layout {
  width: 80vw;
  height: 60vh;
  overflow-x: scroll;
}

.shop-flex {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.shop__layout::-webkit-scrollbar {
  height: 1.5rem;
}

.shop__layout::-webkit-scrollbar-button:single-button {
  background-color: var(--nav-color);
  display: block;
  border-style: solid 0.5rem var(--background-color-1);
}

.shop__layout::-webkit-scrollbar-track {
  background: var(--background-color-1);
}

.shop__layout::-webkit-scrollbar-thumb {
  background: var(--font-color-dark);
  background-clip: padding-box;
}

.item__box {
  object-fit: contain;
  height: 50vh;
  width: 30rem;
  display: inline-block;
  padding: 0 5rem;
}

.shop__art {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 0.2rem solid var(--font-color-dark);
}

.grid__art > .full {
  grid-column: 1 / -1;
}

.artist__name {
  font-family: var(--font-family-main);
  font-size: 2rem;
  padding-bottom: 1rem;
}
/* Shop End */

/* Footer start */
.footer-test {
  width: 100%;
  background-color: #1a1f2a;
  padding-top: 5rem;
}

.footer {
  font-family: var(--font-family-cursive);
  font-size: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: antiquewhite;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;

  width: 80%;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-size: 10rem;
  font-weight: bolder;
}

.footer__list a {
  color: antiquewhite;
}

.footer__list a:hover {
  font-weight: bolder;
  color: #5b6d92;
  text-decoration: underline;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
}

.icon {
  padding-right: 3rem;
  padding-bottom: 1rem;
  font-size: 2.5rem;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.footer-social a {
  font-size: 6rem;
  color: antiquewhite;
}

.footer-social a:hover {
  font-weight: bolder;
  color: #5b6d92;
}
/* Footer end */

/* SCALING */

/* Large */

@media only screen and (min-width: 992px) and (max-width: 1080px) {
  /* .product h1 {
    width: 80vw;
    border: 1rem solid pink;
  } */

  .product__details {
    padding: 1rem 1rem;
    margin-left: 2;
    align-self: center;
    justify-self: center;
    padding-left: 5rem;
  }

  .product__info {
    width: 100%;
  }

  .product-image__image {
    width: 80vw;
  }

  .product__image {
    width: fit-content;
    height: fit-content;
  }

  .product-grid {
    grid-template-areas: "p" "d" "f" "r";
  }

  .shop__layout {
    height: 65vh;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  /* .product h1 {
    width: 80vw;
    border: 1rem solid blue;
  } */

  .product__details {
    padding: 1rem 1rem;
    margin-left: 2;
    align-self: center;
    justify-self: center;
    padding-left: 5rem;
  }

  .product__info {
    width: 100%;
  }

  .product-image__image {
    width: 80vw;
  }

  .product__image {
    width: fit-content;
    height: fit-content;
  }

  .product-grid {
    grid-template-areas: "p" "d" "f" "r";
  }

  .shop__layout {
    height: 65vh;
  }

  /* NAV */
  .nav__link {
    font-size: 5vw;
    transition: ease-in-out 0.3s;
  }

  /* NAV END*/

  /* FOOTER */

  .footer {
    margin-top: 0;
  }

  .footer-grid {
    width: 100vw;
    align-content: center;
    justify-content: space-evenly;
  }

  .footer__list-items {
    font-size: 4vw;
  }

  .contact-info h4 {
    font-size: 3vw;
  }

  .contact-info p {
    text-align: center;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    gap: 0.1vh;
  }

  .social__icon {
    font-size: 4vw;
  }
  /*FOOTER END */
}

/* Medium, i.e. landscape tablets */
@media only screen and (max-width: 768px) {
  /* .product h1 {
    width: 80vw;
    border: 1rem solid green;
  } */

  .product__details {
    padding: 1rem 1rem;
    margin-left: 2;
    align-self: center;
    justify-self: center;
    padding-left: 5rem;
  }

  .product__info {
    width: 100%;
  }

  .product-image__image {
    width: 80vw;
  }

  .product__image {
    width: fit-content;
    height: fit-content;
  }

  .product-grid {
    grid-template-areas: "p" "d" "f" "r";
  }

  .shop__layout {
    height: 65vh;
  }

  /* NAV */
  .nav__link {
    font-size: 5vw;
    transition: ease-in-out 0.3s;
  }

  /* NAV END*/

  /* FOOTER */

  .footer {
    margin-top: 0;
  }

  .footer-grid {
    width: 100vw;
    align-content: center;
    justify-content: space-evenly;
  }

  .footer__list-items {
    font-size: 4vw;
  }

  .contact-info h4 {
    font-size: 3vw;
  }

  .contact-info p {
    text-align: center;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    gap: 0.1vh;
  }

  .social__icon {
    font-size: 4vw;
  }
  /*FOOTER END */
}

/*Small */

@media only screen and (max-width: 600px) {
  .product h1 {
    width: 80vw;
    /*border: 1rem solid red;*/
  }

  .product__details {
    padding: 1rem 1rem;
    margin-left: 2;
    align-self: center;
    justify-self: center;
    padding-left: 5rem;
  }

  .product__info {
    width: 100%;
  }

  .product-image__image {
    width: 80vw;
  }

  .product__image {
    width: fit-content;
    height: fit-content;
  }

  .product-grid {
    grid-template-areas: "p" "d" "f" "r";
  }

  .shop__layout {
    height: 65vh;
  }

  /* NAV */
  .nav__link {
    font-size: 5vw;
    transition: ease-in-out 0.3s;
  }

  /* NAV END*/

  /* FOOTER */

  .footer {
    margin-top: 0;
  }

  .footer-grid {
    width: 100vw;
    align-content: center;
    justify-content: space-evenly;
  }

  .footer__list-items {
    font-size: 4vw;
  }

  .contact-info h4 {
    font-size: 3vw;
  }

  .contact-info p {
    text-align: center;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    gap: 0.1vh;
  }

  .social__icon {
    font-size: 4vw;
  }
  /*FOOTER END */
}
