:root {
    --main-color: rgb(252, 208, 155);
    --background-color:#f4f4f4;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color:var(--background-color)
  }

img {
    font-size: 0.5rem;
}

a {
    color: #000;
  }
.background__img {
  background-size: cover;
  background-positio: center;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
/* Header */

header {
position: fixed;
top: 0;
}

.top-border {
    width: 100%;
    height: 6px;
    background-color: var(--main-color);
}
  
/* Search bar*/
.search-container {
    display: flex;
    align-items: center;
    position:relative;
}

.search__field{
    width: 200px;
    min-height: 1.8rem;
    border-radius: 0.75rem;
}
.search__btn {
    position: absolute;
    top: 17px;
    left: 170px;
    border: none;
    background-color:transparent;
    font-size: 1.2rem;
}

  /* navbar */
  
  .navbar {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
  }
  
  .logo-container {
   display: inline;
  }


  .navbar ul {
    margin: 0;
    float: right;
    list-style: none;
    overflow: hidden;
  }
  
  .navbar li {
    display: inline;
    padding: 0;
  }
  .navbar li a {
    display: block;
    padding: 0;
    border-right: 1px solid var(--background-color);
    text-decoration: none;
  }
  
  .navbar li a:hover,
  .navbar .menu-btn:hover {
    background-color: var(--background-color);
  }
  
  .navbar .logo-container__logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .navbar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .navbar .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .navbar .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .navbar .menu-icon .navicon:before,
  .navbar .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .navbar .menu-icon .navicon:before {
    top: 5px;
  }
  
  .navbar .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .navbar .menu-btn {
    display: none;
  }
  
  .navbar .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  main {
    margin-top: 60px;
  }
  .main-container__intro {
    background-image: url(./images/intro.jpg.jpg);
  }

.main-container p{
    text-align: center;
    font-size: 1.5em;
    color: var(--main-color);
    text-shadow:2px 2px 2px black;
    line-height: 2em;
}
.main-container a{
    text-decoration: none;
    background-color: var(--main-color);
    font-size: 2em;
    text-align: center;
    border-radius: 1em;
    padding: 5px 20px;
}
.main-container__sustainable {
    background-image: url(/src/images/sustainable.jpg.jpg);
}

  /* 48em = 768px */
  
  @media (min-width: 780px) {
    .navbar li {
      float: left;
    }
    .navbar li a {
      padding: 20px 30px;
    }
    .navbar .menu {
      clear: none;
      float: left;
      max-height: none;
    }
    .navbar .menu-icon {
      display: none;
    }
  }