:root {
    --main-color: rgb(252, 208, 155);
    --main-color-background: rgba(252, 208, 155, 0.2);
    --background-color:#f4f4f4;
    --blue: #10668f;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color:var(--background-color)
  }
.logo-img {
  max-height: 5vh;
}
img {
    font-size: 0.5rem;
}

a {
    color: #000;
  }
li {
    list-style: none;
}
.larger {
  font-size: larger;
  font-weight: 700;
}
.heavy {
  font-weight: 600;
}

.background__img {
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
/* Header */

.header {
width: 100%;
position: fixed;
top: 0;
display: flex;
flex-direction: column;
z-index: 10;
grid-area: h;
}

.top-border {
    width: 100%;
    height: 10px;
    background-color: var(--main-color);
}
  
/* Search bar */
.search-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.search__field{
    width: 200px;
    min-height: 1.8rem;
    border-radius: 0.75rem;
}
.search__btn {
    border: none;
    background-color:transparent;
    font-size: 1.2rem;
}
.search__btn:hover {
  color: var(--main-color);
  text-shadow: 0 0 2px black;
  cursor: pointer;
}

.cart__menu {
  font-size: 1.5em;
  padding-right: 30px;
}


  /* navbar */
  
  .navbar {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,.1);
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  .logo-container {
   display: inline;
  }

  .navbar a:hover,
  .navbar .menu-btn:hover {
    background-color: var(--background-color);
  }
  
  .navbar .logo-container__logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
.menu-btn {
  display: none;
}

.navbar__menu-container {
  overflow: hidden;
  padding-left: 1.5em;
}

.navbar__menu-list {
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 90;
  min-width: 300px;
  font-size: 1.2em;
  text-indent: 0.5em;
  transition: all 0.2s;
  }

.navbar__menu-list a {
  line-height: 2em;
  text-decoration: none;
  background-color: rgba(252, 208, 155, 0.9)
}

  .navbar .menu-icon {
    margin-right: 1rem;
    cursor: pointer;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .navbar .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }


  .navbar__menu-container:hover .navbar__menu-list {
    display: block;
    display: flex;
    flex-direction: column;
  }

  .navbar__menu-container:hover , .navbar__menu-list:hover .navbar__menu-container {
  background-color: var(--main-color);
  }

  .navbar .menu-icon .navicon:before,
  .navbar .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .navbar .menu-icon .navicon:before {
    top: 5px;
  }
  
  .navbar .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .navbar .menu-btn:checked ~ .navbar__menu-list {
    display: block;
    position: absolute;
    left: 200px
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  

  /* main */
  main {
    margin-top: 60px;
    grid-area: m;
  }
  .main-container__intro {
    background-image: url(./images/intro.jpg.jpg);
  }

.main-container p{
    text-align: center;
    font-size: 1.5em;
    color: var(--main-color);
    text-shadow:2px 2px 2px black;
    line-height: 2em;
}
.main-container a{
    text-decoration: none;
    background-color: var(--main-color);
    font-size: 2em;
    text-align: center;
    border-radius: 1em;
    padding: 5px 20px;
}
.main-container__sustainable {
    background-image: url(/src/images/sustainable.jpg.jpg);
}


/* Shop */
.discover {
    border-bottom: 1px solid var(--blue);
    box-shadow: 0 2px 4px var(--blue);
}
.discover__grid {
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.discover__items {
    width: 25%;
    border-radius: 3px;
    height: 30vh;
}

.suit {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.suit-one {
    background-image: url(/src/images/suit1.jpg.jpg);
    
}
.suit-two {
    background-image: url(/src/images/suit2.jpg.jpg);
}
.suit-three {
    background-image: url(/src/images/suit3.jpg.jpg);
}

.discover__description p {
    text-align: center;
    font-weight: 700;
}
.discover__new-collection{
    font-size: 1.2em;
    text-shadow: 0px 0px 1px var(--blue);
    color:var(--blue);
}
.discover a {
    text-decoration: none;
}

.filter__btn , .apply__filter-btn , .reset__filter-btn , .sorting__btn , .buy__btn , .payment-sign-in__btn{
  font-weight:700 ;
    font-size: 1.2em;
    margin: 20px 1px 0px 1px;
    padding: 8px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    transition: all 0.15s;
}

.buy__btn:hover , .reset__filter-btn:hover , .apply__filter-btn:hover ,.payment-sign-in__btn:hover {
  box-shadow: 0 1px 4px black;
  transform: scale(1.05);
  cursor: pointer;
}

.shop__filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.shop__filter {
    margin:auto;
    position: relative;
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: var(--main-color);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 0;
    padding: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 1s ;
    }

.filters-text {
  font-size: 1.5em;
  font-size: medium;
  line-height: 2em;
}

.shop__filter:hover .dropdown {
    display: block;
}

.filter__btn:hover , .sorting__btn:hover{
  background-color: var(--main-color);
  cursor: pointer;
}

.items__heading {
  display: inline;
  padding-left: 15px;
  text-indent: 1rem;
}
.sorting {
  display: flex;
  align-items: baseline;
}

.sorting__btn {
  margin-left: 10px;
  padding: 5px 10px;
  display: inline;
}

.apply__filter-btn , .reset__filter-btn , .buy__btn , .payment-sign-in__btn {
  background-color: var(--main-color);
}
.apply__filter {
  display: flex;
  justify-content: space-evenly;
}
.shop-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shop-item {
  padding: 1em;
  margin: 20px;
  height: 60vh;
  border-bottom:2px solid rgba(100, 100, 100, 0.5);
  max-width: 400px;
  transition: all 0.1s;
}

.shop-item:hover {
  background-color: var(--main-color-background);
}

.item__img {
  background-image: url(/src/images/item.jpg.jpg);
  height: 75%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.item__description {
  margin-top: 20px;
}
.item__price {
  font-weight: 900;
}
.item__details {
  font-size: 0.8em;
  opacity: 0.5;
}
.item__cart {
  display: inline;
  font-size: 3em;
  padding-top: 1rem;
}
.shop__description-container {
  display: flex;
  justify-content: space-between;
  line-height: 1.2rem;
}
.small__rating {
  font-weight: 600;
}

footer {
  height: 10vh;
  background-color: var(--main-color);
  grid-area: f;
}


/* Login */

.login-body{
margin: 0;
background-color: var(--main-color-background);
font-size: 1.2em;
line-height: 1.5em;
}
.login__page {
  max-width: 1000px;
}
.login-header{
  background-color: var(--background-color);
}
.login-main , .payment-main {
  background-color: var(--background-color);
  padding: 0.2em;
  margin: 0;
  text-decoration: none;
}
.login__logo {
  padding-top: 10px;
  padding-left: 10px;
  max-width: 15%;
}

.login-form {
  color: rgba(0,0,0,0.6);
}
.login-form a {
  margin: 20px 0;
  font-size: 0.8em;
  opacity: 0.8;
}
.login-form input {
  width: 100%;
  height: 1.5em;
  margin-bottom: 15px;
}

.sign-in__h1 {
  font-size: larger;
}
.sign-in__btn {
font-size: 1rem;
width: 100%;
height: 2em;
margin-bottom: 10px;
background-color: var(--main-color);
border: none;
}

.external__signing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.external__signing a {
  text-align: center;
  text-decoration: none;
  margin: 4px 0;
  font-size: 0.8em;
  border: 2px solid var(--main-color);
}

.register__content a , .register__content p , .register__content i , .register__content span {
  font-size: 0.9em;
}
.register__content a {
  text-decoration: none;
  text-align: center;
}
.register__link {
  margin-top: 10px;
  width: 100%;
  background-color: var(--main-color);
  text-align: center;
}
.register__last {
  margin-bottom: 40px;
}

/* Cart page*/
.cart__main {
  margin-top: 100px;
}
.cart__main h1 {
  text-align: center;
}
.cart-items {
  display: flex;
  flex-direction: column;
  align-items:center ;
}

.cart-item {
  display: flex;
  padding: 4px;
  align-items: center;
  border-top:2px solid rgb(72, 72, 72) ;
}

.cart-item__img {
  height: 8vh;
}

.item__amount {
  margin: 0 20px;
  display: inline;
  width: 1em;
}

.total-price__container {
  font-size: 1.5em;
  font-weight: 500;
}
/* Item page*/
.item123-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.item123-details-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}
.item-img__container {
  padding:1em;
}
.item-img__container img {
  max-width: 320px;
}
.item123__h1 {
  padding: 0.2em;
  margin:0;
  font-size: 1.5em;
}
.item123__h2 {
  padding: 0.2em;
  margin: 0;
  font-size: 1.2em;
}
.item-rating__container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.rating__stars {
  padding: 0.2em;
  font-size: small;
}

.delivery-info {
  margin-top: 20px;
  padding: 0.2em;
  color: rgb(18, 95, 18);
}

.in-basket__btn {
font-size: 1rem;
width: 100%;
height: 2em;
margin: 20px 0;
background-color: var(--main-color);
border: none;
transition: all 0.1s;
}
.in-basket__btn:hover {
  cursor: pointer;
  box-shadow: 0 1px 2px black;
  transform: scale(1.05);
}

.item-details__section {
  padding:1.5em;
}

/* Payment page*/
.payment-main h1 , .payment-main h2 {
  margin: 0;
  padding: 0;
  display: inline;
}

.form-container , .card-container {
  font-size: 0.8em;
}

.payment-main input , .payment-main label {
  display: block;
}

.card-container {
  margin-top: 20px;
}

.checkout__btn {
  margin: 20px 0;
  width: 100%;
  background-color: var(--main-color);
  text-align: center;
  border: 0;
}




@media (max-width: 400px) {
  .search-container {
    display: none;
  }
}



@media (min-width: 700px) {
.login-main , .payment-main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.sign-in , .form-container {
  grid-column: 2 / 4;
}
.register , .card-container{
  padding-left: 30px;
  grid-column: 4 / 6;
}
.checkout__btn {
  width: 180px;
}


}

@media (min-width: 1000px) {

  .search__field{
    width: 400px;
  }

.login__page .top-border {
  background-color: var(--background-color);
}
.login__page {
  border: 3px solid var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
}
.login-body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

}

  @media (min-width: 800px) {

    main {
      margin-top: 0px
    }
    
    .first-details {
      width: 350px;
    }
    .item123-details-container {
      margin-top: 90px;
      max-width: 800px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .shop-items {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    .search__field{
      width: 250px;
    }
.shop__body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: 
      "h h h h h h h"
      ". m m m m m ."
      "f f f f f f f";
}

.menu-btn {
    display: none;
  }
  .navbar__menu-container:hover{
    display: contents;
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: baseline;
    background-color: white;
  }

    .navbar__menu-container:hover .navbar__menu-list {
      display: contents;
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: baseline;
      background-color: white;
    }
    
    .navbar__menu-list:hover {
      display: contents;
      position: static;
      display: flex;
      justify-content: end;
      align-items: baseline;
      background-color: white;
    }

    .navbar__menu-container {
      display: contents ;
      display: block;
    }

    .navbar__menu-list {
      display: contents;
      position: static;
      display: flex;
      justify-content: end;
      align-items: baseline;
      background-color: white;
    }

     .navbar__menu-list a {
        line-height: 1em;
        text-decoration: none;
        background-color: white ;
      }

      .navbar__menu-list a:not(.last-child) {
        border-right: 1px solid rgb(199, 199, 199);
        padding-right: 10px;
      }

    .navbar .menu-icon {
      display: none;
    }
  }